@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.snap-y {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

/* Hide video controls on mobile */
video::-webkit-media-controls {
  display: none !important;
}